body {
    font-family: "Lato", sans-serif;
    color: #747704;
    font-weight: 300;
}

p {
    padding: 10px;
    margin-bottom: 10px;
}

h1 {
    text-transform: uppercase;
    text-align: right;
    font-weight: 100;
    font-stretch: expanded;
}

h4 {
    text-transform: uppercase;
    text-align: right;
    font-weight: 100;
}

h3 {
    text-transform: uppercase;
    text-align: center;
}

h2 {
    padding-top: 10px !important;
}

a {
    text-align: center;
}

.logo {
    max-width: 100px;
    text-align: left;
    vertical-align: bottom;
    display: block;
}

.logo-container {
    padding-top: 40px;
}

.text-mute {
    color: #bbb;
}

.text-thin {
    font-weight: 100;
}
